<!-- Tutorials skeleton -->
<html>
<head>
    <title>Channels and Beams notifications</title>
    <!--Imports-->
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="mainContainer">
        <h1>Channels and Beams notifications</h1>
        <!-- divButton -->
        <!-- Trigger form -->
        <!-- Connection state button -->
        <!--Channels table-->
    <script type="text/javascript">
            // Constants

       
            // Channels Initialisation


            //Subscribe channel and bind to event


            //Bind to state changes

            
            //Beams Initialisation


            //Beams is supported check


            //Trigger button listener


            //Logout button listener

            
            // Notification table


            //Connection states 


            //Logout function


            //Channels connection change


            //Beams functions

      
            //Triggerform

        </script>
    </body>
    </html>